.page-header{
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	padding:10px 0px;
	border-radius:8px;
}

.form-container{
	border-top:4px solid #007bff;
	padding:25px;
	margin-top:15px;
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	border-radius:8px; 
}

input[type=text], select{
    font-size: 12px;   
    outline: none;  
}

input[type=date], input[type=file]{
    font-size: 12px;   
    outline: none;  
}

input[type=email], input[type=password]{
    font-size: 12px;   
    outline: none;   
}


label{
	font-size: 14px;
	font-weight: bolder; 
}
