.card{
	border:none;
	border-radius:18px;
	box-shadow:1px 1px 1px 1px lightgrey;
}


.card:hover{
	box-shadow:1px 2px 2px 2px grey;
}

.card-header{
	background-color: #002060;
	color:white;
	font-size:12px;
}

.card-body{	
	text-align: center;
	
}

.header__icon{
	color:#002060;
}
 
.card-image {
	float:left;
}

.card-text{
	color:#002060;
	font-size:large;
	font-weight: bolder;
	float:right; 
}