.page-header{
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	padding:10px 0px;
	border-radius:8px;
}

.orderdetails-container{
	border-top:4px solid #007bff;
	padding:25px;
	margin-top:15px;
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	border-radius:8px; 
}

.shop-section{
	border-top:4px solid #007bff;
	padding:15px 15px 5px 15px;
	margin-top:15px;
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	border-radius:8px; 
}

.rating-section{
	border-top:4px solid #007bff;
	padding:15px;
	margin-top:15px;
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	border-radius:8px; 
}

.staricon{
    font-size:15px;
}

.checked {
    color: orange;
}

.trackorder-section{
	border-top:4px solid #007bff;
	padding:15px;
	margin-top:15px;
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	border-radius:8px; 
}

.paragraph{
	font-weight:bolder;
	border:1px solid grey;
	color:black;
	padding:15px 15px;
	border-radius:15px;
	font-size:11px;
	margin-top:-7px;
}

.trackorder-icon{
	font-weight:bolder;
	background-color:#007bff;
	color:white;
	padding:8px;
	border-radius:50%;
	
}

.paragraph small{
	float:right;
	color:grey;
	font-size:x-small;
}

.trackorder-text{
	padding-left:5px; 
}

.vertical{
	margin-top:-17px;	
}

.vertical-line{
	border-left: 4px solid grey;
  	height: 50px;
  	display:inline-block;
}

.vertical-line-process{
	border-left: 4px dashed grey;
  	height: 70px;
  	display:inline-block;
}

.orderdetails-section{
	border-top:4px solid #007bff;
	padding:15px;
	margin-top:15px;
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	border-radius:8px; 
	
} 

.orderdetails-bar{
    padding-top: 10px;
    
}

.orderdetails-title{
    font-size: medium;
    color:#002060;
}

.orderdetails-subtitle{
    color:lightgray;
    font-size: smaller;
    font-weight: bolder;
}

.price-title{
    font-weight: bolder;
}

.orderdetails-img{
    height: 75px;
    width: 75px;
    border:0.5px solid lightgray;
    border-radius: 5px;
}




.address-section{
	border-top:4px solid #007bff;
	padding:15px;
	margin-top:15px;
	background-color: white;
	box-shadow:1px 1px 1px 1px lightgrey;
	border-radius:8px; 
}


.address-bar{
    padding-top: 10px;
    
}